@charset "utf-8";

@layer reset, style, main;

@import url("reset.css") layer(reset);
@import url("style.css") layer(style);
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* ================== 전체 wrapper ================== */
.whole_wrapper { display: flex; justify-content: center; }
.whole_wrapper_inner { position: relative; display: flex; flex-direction: column; align-items: center; min-width: 144rem; width: 144rem; padding: 0 12rem; }

/* ================== 공통 헤더 ================== */
.main_header { position: relative; display: flex; justify-content: space-between; align-items: center; width: 100%; height: 8.4rem; }
.main_header .logo_box h1 { position: relative; height: 2.4rem; }
.main_header .logo_box h1 a { height: 100%; line-height: 3.5rem; }
.main_header .gnb_box { position: absolute; left: 20.7rem; }
.main_header .gnb_box ul { display: flex; }
.main_header .gnb_box ul li ~ li { margin-left: 5rem; }
.main_header .gnb_box ul li a { font-size: 1.8rem; font-weight: 600; color: var(--color-gray31); }
.main_header .auth_box { display: flex; align-items: center; }
.main_header .auth_box .login_box { display: flex; align-items: center; margin-right: 2rem; }
.main_header .auth_box .login_box .profile_img { width: 3.2rem; height: 3.2rem; background: url('../images/icons/main_header_profile_empty_icon.png') center / 100% no-repeat; margin-right: 0.8rem; text-indent: -9999rem; }
.main_header .auth_box .login_box .nick_name,
.main_header .auth_box .login_box .grade { font-size: 1.8rem; font-weight: 700; letter-spacing: -0.05rem; color: #1e1e1e;  }
.main_header .auth_box .login_box .grade { font-weight: 400; }
.main_header .auth_box ul { display: flex; align-items: center; }
.main_header .auth_box ul li { position: relative; display: flex; height: 4rem; background-color: #f3f3f3; border-radius: 0.6rem; }
.main_header .auth_box ul li ~ li { margin-left: 1.4rem; }
.main_header .auth_box ul li.log_in { background-color: var(--color-gray31); }
.main_header .auth_box ul li.log_out { background-color: var(--color-gray18); }
.main_header .auth_box ul li a,
.main_header .auth_box ul li button { height: 100%; padding: 1rem 2rem; background: none; font-size: 1.4rem; font-weight: 600; color: var(--color-gray31); }
.main_header .auth_box ul li.log_in a,
.main_header .auth_box ul li.log_out button { color: var(--color-white); }

/* ================== 메인 바디 ================== */
.main_body { position: relative; width: 100%; padding: 4rem 0 12rem; }
.main_body::before { content: ''; position: absolute; top: 0; right: -999rem; left: -999rem; height: 100%; background-color: #F8FAFD; z-index: -10; }

/* ================== 메인 - 배너 ================== */
.main_banner { width: 100%; } 
.main_banner figure { width: 100%; height: 40rem; } 
.main_banner figure img { width: 100%; height: 100%; border-radius: 1.2rem; } 

/* ================== 메인 - 공지사항 ================== */
.notice { display: flex; justify-content: space-between; align-items: center; width: 100%; height: 9.2rem; padding: 0 3.2rem; border: 0.1rem solid #e8e8e8; margin-top: 4rem; background-color: var(--color-white); }
.notice .title { position: relative; height: 3.2rem; line-height: 3.2rem; padding-left: 5.8rem; font-size: 2.4rem; font-weight: 700; color: var(--color-gray18); }
.notice .title::before { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 4.2rem; height: 4.2rem; background: url('../images/icons/notice_icon.png') center / 100% no-repeat; }
.notice .description_box { position: absolute; left: 20.3rem; width: 86.2rem; height: 2.8rem; line-height: 2.8rem; overflow-y: hidden; }
.notice .description_box li { width: 100%; height: 100%; }
.notice .description_box li a { display: inline-block; width: 100%; font-size: 2rem; font-weight: 400; color: var(--color-gray18); }

/* ================== 메인 - 커뮤니티 최신글 ================== */
.recent_community .list_wrap ul { border: 0.1rem solid var(--color-graye8); margin-top: 2.4rem; }
.recent_community .list_wrap ul li ~ li { border-top: 0.1rem solid var(--color-graye8); }
.recent_community .list_wrap a { position: relative; display: flex; align-items: center; height: 13.8rem; padding-left: 3.2rem; background-color: var(--color-white); }
.recent_community .list_wrap a .info_box .primary_info { display: flex; align-items: center; gap: 1rem; }
.recent_community .list_wrap a .info_box .primary_info span { display: flex; justify-content: center; align-items: center; height: 2.5rem; padding: 0 0.8rem; border: 0.1rem solid #313131; border-radius: 0.4rem; font-size: 1.4rem; font-weight: 600; color: var(--color-gray31); box-sizing: border-box; }
.recent_community .list_wrap a .info_box .primary_info p { font-size: 2.4rem; font-weight: 500; color: var(--color-gray18); }
.recent_community .list_wrap a .info_box .primary_info b { font-size: 2.4rem; font-weight: 500; color: var(--color-grayb5); }
.recent_community .list_wrap a .info_box .sub_info { margin-top: 2.1rem; }
.recent_community .list_wrap a figure { position: absolute; top: 50%; right: 3.4rem; transform: translateY(-50%); width: 16rem; height: 9rem; }

/* ================== 메인 - 정보 인기글 ================== */
.infomation_popular .h2_header p { left: 16.2rem; }
.infomation_popular .list_wrap a figure { width: 28.1rem; height: 17.8rem; }
.infomation_popular .list_wrap { margin-top: 4rem; }
.infomation_popular .list_wrap ul { display: flex; flex-wrap: wrap; gap: 2.4rem; }
.infomation_popular .list_wrap a .info_box { margin-top: 1.5rem; }
.infomation_popular .list_wrap a .info_box .primary_info { display: flex; align-items: center; gap: 0.6rem; }
.infomation_popular .list_wrap a .info_box .primary_info span { display: flex; justify-content: center; align-items: center; height: 2.5rem; padding: 0 0.8rem; background-color: var(--color-redf9); border-radius: 0.4rem; font-size: 1.4rem; font-weight: 600; color: var(--color-white); box-sizing: border-box; }
.infomation_popular .list_wrap a .info_box .primary_info p { font-size: 2.4rem; font-weight: 600; color: var(--color-gray18);  }
.infomation_popular .list_wrap a .info_box .primary_info b { font-size: 2.4rem; font-weight: 500; color: var(--color-grayb5); }
.infomation_popular .list_wrap a .info_box .sub_info { margin-top: 0.8rem; }

/* ================== 메인 - 구인 / 구직 wrap ================== */
.job_wrap { display: flex; gap: 3rem; }

/* ================== 메인 - 구인 글 ================== */
.job_wrap .recruit { width: 58.5rem; }
.job_wrap .recruit .list_wrap ul { border: 0.1rem solid var(--color-graye8); margin-top: 2.4rem; }
.job_wrap .recruit .list_wrap ul li ~ li { border-top: 0.1rem solid var(--color-graye8); }
.job_wrap .recruit .list_wrap a { display: flex; gap: 2rem; height: 12.8rem; padding: 1.6rem 2rem; background-color: var(--color-white); }
.job_wrap .recruit .list_wrap a figure { width: 9.6rem; height: 9.6rem; }
.job_wrap .recruit .list_wrap a .info_box { display: flex; flex-direction: column; justify-content: center; }
.job_wrap .recruit .list_wrap a .info_box .primary_info { display: flex; align-items: center; }
.job_wrap .recruit .list_wrap a .info_box .primary_info i { margin-right: 0.8rem; }
.job_wrap .recruit .list_wrap a .info_box .primary_info p { font-size: 2.4rem; font-weight: 500; color: var(--color-gray18); }
.job_wrap .recruit .list_wrap a .info_box .sub_info { display: flex; gap: 0.8rem; margin-top: 1.6rem; }
.job_wrap .recruit .list_wrap a .info_box .sub_info span { display: block; max-width: 40.3rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* ================== 메인 - 구직 글 ================== */
.job_wrap .job_hunting { width: 58.5rem; }
.job_wrap .job_hunting .list_wrap ul { border: 0.1rem solid var(--color-graye8); margin-top: 2.4rem; }
.job_wrap .job_hunting .list_wrap ul li ~ li { border-top: 0.1rem solid var(--color-graye8); }
.job_wrap .job_hunting .list_wrap a { display: flex; align-items: center; gap: 1rem; height: 12.8rem; padding: 2rem 3.2rem; background-color: var(--color-white); }
.job_wrap .job_hunting .list_wrap a figure { width: 6.4rem; height: 6.4rem; }
.job_wrap .job_hunting .list_wrap a .info_box { display: flex; flex-direction: column; justify-content: center; max-width: 43.5rem; white-space: nowrap; overflow: hidden; }
.job_wrap .job_hunting .list_wrap a .info_box .primary_info p { max-width: 46.4rem; font-size: 2.4rem; font-weight: 500; color: var(--color-gray18); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.job_wrap .job_hunting .list_wrap a .info_box .sub_info { display: flex; margin-top: 1.6rem; }
.job_wrap .job_hunting .list_wrap a .info_box .sub_info b { max-width: 29rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* ================== 메인 - 푸터 ================== */
.main_footer { position: relative; width: 100%; padding: 6rem 0; }
.main_footer ul { display: flex; }
.main_footer ul li a { color: var(--color-gray8e); font-size: 2rem; font-weight: 400; }
.main_footer > div { display: flex; flex-direction: column; justify-content: center; gap: 1rem; margin-top: 4rem; }
.main_footer > div > div { display: flex; align-items: center; gap: 4rem; }
.main_footer > div > div address,
.main_footer > div > div span,
.main_footer > div p { color: var(--color-gray8e); font-size: 2rem; font-weight: 400; }
.main_footer > .logo_box { position: absolute; right: 0; bottom: 5.5rem; }
