:root {
    --color-white: #fff;
    --color-gray18: #18191f;
    --color-gray1e: #1e1e1e;
    --color-gray31: #313131;
    --color-gray33: #333333;
    --color-gray8e: #8e8e8e;
    --color-grayb5: #b5b5b5;
    --color-grayc6: #c6c6c6;
    --color-graye8: #e8e8e8;
    --color-grayf1: #f1f1f1;
    --color-grayf3: #f3f3f3;
    --color-grayf8: #f8fafd;
    --color-redec: #ec1212;
    --color-redf9: #f96f6f;
    --color-blue5f: #5fbbef;
}

html { font-size: 10px; }
body { background-color: #fff; font-size: 1rem; overflow-x: hidden; font-family: 'Pretendard'; }
body.hidden { position: fixed; overflow-y: hidden; touch-action: none; }

a, button { color: #666; }
p, li{ word-break: keep-all; }
caption { padding: 10px 0; }
figure img { width: 100%; }

.clear { clear: both; }
.clear:after { content: ""; display: block; clear: both; }
caption > div,
legend,
.hide { overflow: hidden; display: block; position: absolute; border: 0; width: 1px; height: 1px; clip-path: polygon(0 0, 0 0, 0 0, 0 0); }

/* 본문 바로가기 스타일*/
.skip { position: absolute; left: 0; right: 0; top: -100%; transition: all .3s; line-height: 5rem; background: #000; color: #fff; text-align: center; z-index: 100; }
.skip:focus { top: 0; }
/* //본문 바로가기 스타일*/

/* 인풋 자동완성 스타일*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
/* //인풋 자동완성 스타일*/

/* 로고 스타일*/
.main_logo { display: block; font-family: 'Jomhuria', cursive; font-size: 4.8rem; font-weight: 400; color: var(--color-gray31); }
/* //로고 스타일*/

/* tab 더보기 스타일*/
.tab_more { position: relative; height: 2.8rem; line-height: 2.8rem; padding-left: 1.9rem; font-size: 2rem; font-weight: 400; color: var(--color-gray8e); }
.tab_more::before { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1.3rem; height: 1.3rem; background: url('../images/icons/article_plus_icon.png') center / 100% no-repeat; }
/* //tab 더보기  스타일*/

/* h2 header 스타일*/
.h2_header { position: relative; display: flex; align-items: center; justify-content: space-between; margin-top: 7rem; }
.h2_header h2 { font-size: 3.2rem; font-weight: 700; color: var(--color-gray18); }
.h2_header p { position: absolute; left: 21.7rem; font-size: 2rem; font-weight: 400; color: var(--color-gray8e); }
.h2_header .tab_more { align-self: flex-end; }
/* //h2 header 스타일*/

/* sub_info 스타일*/
.sub_info i { display: block; width: 1.4rem; height: 2.1rem; background: url('../images/icons/location_icon.png') center / 100% no-repeat; }
.sub_info span { font-size: 1.8rem; font-weight: 400; color: var(--color-gray8e); letter-spacing: -0.05rem; }
.sub_info b { font-size: 1.8rem; font-weight: 400; color: var(--color-blue5f); letter-spacing: -0.05rem; }
/* //sub_info 스타일*/

/* 지역 태그 스타일*/
.region_tag { display: inline-block; height: 3rem; line-height: 3rem; padding: 0 2rem; border-radius: 1.6rem; border: 0.1rem solid var(--color-gray31); background-color: var(--color-gray31); font-size: 1.5rem; font-weight: 700; color: var(--color-white); }
/* //지역 태그 스타일*/

/* 페이지네이션 넘버 스타일*/
.list_pagination_wrap { margin-top: 2.4rem; }
.list_pagination_wrap .list_pagination_box { display: flex; justify-content: center; gap: 0.5rem; }
.list_pagination_wrap .list_pagination_box a { display: block; width: 3.2rem; height: 3.2rem; line-height: 3.2rem; font-size: 1.3rem; font-weight: 600; border-radius: 0.8rem; border: 1px solid var(--color-grayf1); background-color: var(--color-white); color: var(--color-gray33); text-align: center; }
.list_pagination_wrap .list_pagination_box a.active { background-color: var(--color-gray31); color: var(--color-white); }
.list_pagination_wrap .list_pagination_box .list_pre_floor { background: url('../images/icons/arrow_left_double_white_icon.png') center / 1.6rem var(--color-white) no-repeat; }
.list_pagination_wrap .list_pagination_box .list_pre { background: url('../images/icons/arrow_left_black_icon.png') center / 1.6rem var(--color-white) no-repeat; }
.list_pagination_wrap .list_pagination_box .list_next { transform: rotate(180deg); background: url('../images/icons/arrow_left_black_icon.png') center / 1.6rem var(--color-white) no-repeat; }
.list_pagination_wrap .list_pagination_box .list_next_ceil { background: url('../images/icons/arrow_right_double_white_icon.png') center / 1.6rem var(--color-white) no-repeat; }
/* //페이지네이션 넘버 스타일*/