:root {
    --color-white: #fff;
    --color-gray18: #18191f;
    --color-gray1e: #1e1e1e;
    --color-gray31: #313131;
    --color-gray33: #333333;
    --color-gray75: #757575;
    --color-gray76: #767474;
    --color-gray8e: #8e8e8e;
    --color-grayaa: #aaaaaa;
    --color-grayb5: #b5b5b5;
    --color-grayc6: #c6c6c6;
    --color-graycd: #cdcdcd;
    --color-graycf: #cfcfcf;
    --color-graydd: #dddddd;
    --color-graye8: #e8e8e8;
    --color-grayf1: #f1f1f1;
    --color-grayf3: #f3f3f3;
    --color-grayf8fa: #f8fafd;
    --color-grayf8f8: #f8f8f8;
    --color-redec: #ec1212;
    --color-redf9: #f96f6f;
    --color-blue5f: #5fbbef;
    --color-black: #000000;
}

html { font-size: 10px; }
body { background-color: #fff; font-size: 1rem; overflow-x: hidden; font-family: 'Pretendard'; }
body.hidden { position: fixed; overflow-y: hidden; touch-action: none; }

a, button { color: #666; }
button, input, textarea { font-family: inherit; }
p, li{ word-break: keep-all; }
caption { padding: 10px 0; }
figure img { width: 100%; }

.clear { clear: both; }
.clear:after { content: ""; display: block; clear: both; }
caption > div,
legend,
.hide { overflow: hidden; display: block; position: absolute; border: 0; width: 1px; height: 1px; clip-path: polygon(0 0, 0 0, 0 0, 0 0); }

/* 본문 바로가기 */
.skip { position: absolute; left: 0; right: 0; top: -100%; transition: all .3s; line-height: 5rem; background: #000; color: #fff; text-align: center; z-index: 100; }
.skip:focus { top: 0; }
/* //본문 바로가기 */

/* 인풋 자동완성 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
/* //인풋 자동완성 */

/* 로고 */
.main_logo { display: block; font-family: 'Jomhuria', cursive; font-size: 4.8rem; font-weight: 400; color: var(--color-gray31); }
/* //로고 */

/* tab 더보기 */
.tab_more { position: relative; height: 2.8rem; line-height: 2.8rem; padding-left: 1.9rem; font-size: 2rem; font-weight: 400; color: var(--color-gray8e); }
.tab_more::before { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1.3rem; height: 1.3rem; background: url('../images/icons/article_plus_icon.png') center / 100% no-repeat; }
/* //tab 더보기 */

/* h2 header */
.h2_header { position: relative; display: flex; align-items: center; justify-content: space-between; margin-top: 7rem; }
.h2_header h2 { font-size: 3.2rem; font-weight: 700; color: var(--color-gray18); }
.h2_header p { position: absolute; left: 21.7rem; font-size: 2rem; font-weight: 400; color: var(--color-gray8e); }
.h2_header .tab_more { align-self: flex-end; }
/* //h2 header */

/* sub_info */
.sub_info i { display: block; width: 1.4rem; height: 2.1rem; background: url('../images/icons/location_icon.png') center / 100% no-repeat; }
.sub_info span { font-size: 1.8rem; font-weight: 400; color: var(--color-gray8e); letter-spacing: -0.05rem; }
.sub_info b { font-size: 1.8rem; font-weight: 400; color: var(--color-blue5f); letter-spacing: -0.05rem; }
/* //sub_info */

/* 지역 태그 */
.region_tag { display: inline-block; height: 3rem; line-height: 3rem; padding: 0 2rem; border-radius: 1.6rem; border: 0.1rem solid var(--color-gray31); background-color: var(--color-gray31); font-size: 1.5rem; font-weight: 700; color: var(--color-white); }
/* //지역 태그 */

/* 글 카테고리 태그 */
.article_category_tag { display: inline-block; width: 7.3rem; height: 3rem; line-height: 3rem; border-radius: 1.6rem; border: 0.1rem solid var(--color-gray31); background-color: var(--color-gray31); font-size: 1.5rem; font-weight: 700; color: var(--color-white); text-align: center; }
/* //글 카테고리 태그 */

/* 아이템 추가 버튼 */
.btn_item_add { line-height: 2rem; padding: 1rem 1.5rem 1rem 1rem; background-color: var(--color-gray31); border-radius: 0.6rem; font-size: 1.4rem; font-weight: 600; color: var(--color-white); cursor: pointer; }
/* //아이템 추가 버튼 */

/* 필수항목 */
.essential_text { font-size: 2rem; font-weight: 600; color: var(--color-redec); }
/* //필수항목 */

/* 인풋 라벨 (일반) */
.input_label_box .input_label { font-size: 2rem; font-weight: 600; color: var(--color-black); }
/* //인풋 라벨 (일반) */

/* 인풋 라벨 (파일) */
.input_file_label { line-height: 2rem; padding: 1rem 1.5rem 1rem 1rem; background-color: var(--color-gray31); border-radius: 0.6rem; font-size: 1.4rem; font-weight: 600; color: var(--color-white); cursor: pointer; }
/* //인풋 라벨 (파일) */

/* 인풋 텍스트 */
.input_text { height: 4rem; padding: 0.8rem; border: 0.1rem solid var(--color-gray75); border-radius: 0.4rem; }
.input_text[data-text="limit"] + .text_limit { margin-left: 2rem; font-size: 1.8rem; color: var(--color-gray76); font-weight: 400; }
.input_text[data-text="limit"] + .text_limit b { font-weight: inherit; }
/* //인풋 텍스트 */

/* 인풋 텔 */
.input_tel { height: 4rem; padding: 0.8rem; border: 0.1rem solid var(--color-gray75); border-radius: 0.4rem; }
/* //인풋 텔 */

/* 인풋 이메일 */
.input_email { height: 4.8rem; padding: 0.8rem; background-color: var(--color-white); border: 0.1rem solid var(--color-graycd); border-radius: 0.4rem; }
.input_email::placeholder { font-size: 1.8rem; color: var(--color-gray8e); }
/* //인풋 이메일 */

/* 인풋 패스워드 */
.input_password { height: 4.8rem; padding: 0.8rem; background-color: var(--color-white); border: 0.1rem solid var(--color-graycd); border-radius: 0.4rem; }
.input_password::placeholder { font-size: 1.8rem; color: var(--color-gray8e); }
/* //인풋 패스워드 */

/* 인풋 라디오 */
.input_radio_box { display: flex; align-items: center; gap: 1rem; }
.input_radio_box input { width: 2rem; height: 2rem; }
.input_radio_box label { font-size: 2rem; color: var(--color-black); }
/* //인풋 라디오 */

/* 인풋 데이트 */
.input_date_box input { width: 34.9rem; height: 4rem; padding: 0.8rem; border: 0.1rem solid var(--color-gray75); border-radius: 0.4rem; }
.input_date_box input:disabled { background-color: var(--color-grayf1); }
/* //인풋 데이트 */

/* 인풋 체크박스 */
.input_checkbox_box { display: flex; align-items: center; gap: 0.8rem; }
.input_checkbox_box input { width: 2rem; height: 2rem; }
.input_checkbox_box label { font-size: 2rem; color: var(--color-black); }
/* //인풋 체크박스 */

/* 셀렉트 박스 */
.input_select_box { position: relative; }
.input_select_box::after { content: ''; position: absolute; top: 50%; right: 0.8rem; transform: translateY(-50%); width: 3rem; height: 3rem; background: url('../images/icons/arrow_down_icon.png') center / 3rem no-repeat; pointer-events: none; }
.input_select_box .input_select { width: 34.9rem; height: 4rem; padding: 0.8rem; border: 0.1rem solid var(--color-gray75); border-radius: 0.4rem; }
/* //셀렉트 박스 */

/* 첨부파일 정보 */
.input_file_info_box { display: flex; align-items: center; gap: 0.5rem; }
.input_file_info_box em { font-size: 1.8rem; font-weight: 700; color: var(--color-black); }
.input_file_info_box b { font-size: 1.8rem; font-weight: 400; color: var(--color-black); }
.input_file_info_box span { font-size: 1.8rem; font-weight: 400; color: var(--color-gray76); }
/* //첨부파일 정보 */

/* 댓글 wrapper set */
.comment_wrapper { position: relative; width: 100%; padding: 2.4rem 3.2rem 0 3.2rem; background-color: var(--color-white); border: 1px solid var(--color-graye8); margin-top: 3.2rem; }
.comment_wrapper .comment_header { display: flex; align-items: center; justify-content: space-between; margin-bottom: 3.5rem; }
.comment_wrapper .comment_header .title { font-size: 2.8rem; font-weight: 700; color: var(--color-gray18); letter-spacing: -0.05rem; }
.comment_wrapper .comment_header .btn_comment_policy { position: relative; background-color: transparent; font-size: 2rem; color: var(--color-gray8e); letter-spacing: -0.05rem; }
.comment_wrapper .comment_header .btn_comment_policy::after { content: ''; position: absolute; bottom: -0.3rem; left: 0; width: 100%; height: 0.1rem; background-color: var(--color-gray8e); }
.comment_wrapper .comment_write_form_box > form { position: relative; }
.comment_wrapper .comment_write_form_box > form .commment_description { position: relative; left: -3.3rem; width: 120rem; height: 13.5rem; line-height: 2.8rem; padding: 2rem 9.5rem 2rem 2rem; border: 0.1rem solid var(--color-graye8); font-size: 1.8rem; color: var(--color-gray18); letter-spacing: -0.05rem; }
.comment_wrapper .comment_write_form_box > form .commment_description::placeholder { font-size: 1.8rem; font-weight: 400; color: var(--color-gray8e); letter-spacing: -0.05rem; }
.comment_wrapper .comment_write_form_box > form .input_submit { position: absolute; right: -2rem; bottom: 1.2rem; height: 3.2rem; line-height: 3.2rem; padding: 0 2rem; border-radius: 0.6rem; background-color: var(--color-gray31); font-size: 1.4rem; font-weight: 600; color: var(--color-white); }
.comment_wrapper .commnet_list_box ul li { position: relative; display: flex; flex-direction: column; gap: 2.5rem; padding: 3.2rem 0; }
.comment_wrapper .commnet_list_box ul li.comment_reply_list { padding-left: 8.8rem; }
.comment_wrapper .commnet_list_box ul li::after { content: ''; position: absolute; bottom: 0; left: -3.2rem; width: 120rem; height: 0.1rem; background-color: var(--color-graye8); }
.comment_wrapper .commnet_list_box ul li:last-child::after { display: none; }
.comment_wrapper .commnet_list_box ul li .commnet_list_header { display: flex; align-items: center; justify-content: space-between; }
.comment_wrapper .commnet_list_box ul li .commnet_list_header .left_box { display: flex; align-items: center; }
.comment_wrapper .commnet_list_box ul li .commnet_list_header .left_box .commmenter_name { margin-right: 1rem; font-size: 2.4rem; font-weight: 600; color: var(--color-gray18); }
.comment_wrapper .commnet_list_box ul li .commnet_list_header .left_box .comment_date { font-size: 1.8rem; color: var(--color-gray8e); letter-spacing: -0.05rem; }
.comment_wrapper .commnet_list_box ul li .commnet_list_header .left_box .btn_commnet_like,
.comment_wrapper .commnet_list_box ul li .commnet_list_header .left_box .btn_comment_reply { background-color: transparent; font-size: 1.8rem; font-weight: 700; color: var(--color-gray8e); letter-spacing: -0.05rem; text-decoration: underline; }
.comment_wrapper .commnet_list_box ul li .commnet_list_header .left_box .commnet_like_count { font-size: 1.8rem; font-weight: 700; color: var(--color-gray8e); letter-spacing: -0.05rem; }
.comment_wrapper .commnet_list_box ul li .commnet_list_header .right_box .btn_comment_accusation { position: relative; background-color: transparent; font-size: 1.8rem; color: var(--color-redec); letter-spacing: -0.05rem; }
.comment_wrapper .commnet_list_box ul li .commnet_list_header .right_box .btn_comment_accusation::after { content: ''; position: absolute; bottom: -0.1rem; left: 0; width: 100%; height: 0.1rem; background-color: var(--color-redec); }
.comment_wrapper .commnet_list_box ul li .comment_description { line-height: 2.8rem; color: var(--color-gray18); font-size: 1.8rem; letter-spacing: -0.05rem; word-break: break-all; }
.comment_wrapper .commnet_list_box ul li .comment_reply_write_form_box { position: relative; }
.comment_wrapper .commnet_list_box ul li .comment_reply_write_form_box > form .commment_reply_description { width: 100%; height: 12.8rem; line-height: 2.8rem; padding: 1.9rem 7.6rem 1.9rem 3rem; background-color: var(--color-grayf3); border-radius: 0.5rem; font-size: 1.8rem; color: var(--color-gray18); letter-spacing: -0.05rem; }
.comment_wrapper .commnet_list_box ul li .comment_reply_write_form_box > form .commment_reply_description::placeholder { font-size: 1.8rem; color: var(--color-gray8e); letter-spacing: -0.05rem; }
.comment_wrapper .commnet_list_box ul li .comment_reply_write_form_box > form .input_submit { position: absolute; right: 1.2rem; bottom: 1.2rem; height: 3.2rem; line-height: 3.2rem; padding: 0 2rem; border-radius: 0.6rem; background-color: var(--color-gray31); font-size: 1.4rem; font-weight: 600; color: var(--color-white); }
.comment_wrapper + .btn_comment_list_more { width: 100%; height: 5.2rem; line-height: 5.2rem; background-color: var(--color-gray31); border-radius: 0.4rem; margin-top: 2rem; font-size: 1.8rem; font-weight: 600; color: var(--color-white); }
.comment_wrapper + .btn_comment_list_more + .link_article_list { height: 4.8rem; line-height: 4.8rem; padding: 0 2rem; background-color: var(--color-grayf3); border-radius: 0.6rem; margin-top: 3rem; font-size: 1.6rem; font-weight: 600; color: var(--color-gray31); }
/* //댓글 wrapper set */

/* 페이지네이션 넘버 */
.list_pagination_wrap { margin-top: 2.4rem; }
.list_pagination_wrap .list_pagination_box { display: flex; justify-content: center; gap: 0.5rem; }
.list_pagination_wrap .list_pagination_box a { display: block; width: 3.2rem; height: 3.2rem; line-height: 3.2rem; font-size: 1.3rem; font-weight: 600; border-radius: 0.8rem; border: 1px solid var(--color-grayf1); background-color: var(--color-white); color: var(--color-gray33); text-align: center; }
.list_pagination_wrap .list_pagination_box a.active { background-color: var(--color-gray31); color: var(--color-white); }
.list_pagination_wrap .list_pagination_box .list_pre_floor { background: url('../images/icons/arrow_left_double_white_icon.png') center / 1.6rem var(--color-white) no-repeat; }
.list_pagination_wrap .list_pagination_box .list_pre { background: url('../images/icons/arrow_left_black_icon.png') center / 1.6rem var(--color-white) no-repeat; }
.list_pagination_wrap .list_pagination_box .list_next { transform: rotate(180deg); background: url('../images/icons/arrow_left_black_icon.png') center / 1.6rem var(--color-white) no-repeat; }
.list_pagination_wrap .list_pagination_box .list_next_ceil { background: url('../images/icons/arrow_right_double_white_icon.png') center / 1.6rem var(--color-white) no-repeat; }
/* //페이지네이션 넘버 */