:root {
    --color-white: #fff;
    --color-gray18: #18191f;
    --color-grayb5: #B5B5B5;
    --color-gray8e: #8E8E8E;
    --color-graye8: #E8E8E8;
    --color-redf9: #F96F6F;
    --color-blue5f: #5FBBEF;
}

html { font-size: 10px; }
body { background-color: #fff; font-size: 1rem; overflow-x: hidden; font-family: 'Pretendard'; }
body.hidden { position: fixed; overflow-y: hidden; touch-action: none; }

a, button { color: #666; }
p, li{ word-break: keep-all; }
caption { padding: 10px 0; }
figure img { width: 100%; }

.clear { clear: both; }
.clear:after { content: ""; display: block; clear: both; }
caption > div,
legend,
.hide { overflow: hidden; display: block; position: absolute; border: 0; width: 1px; height: 1px; clip-path: polygon(0 0, 0 0, 0 0, 0 0); }

/* 본문 바로가기 스타일*/
.skip { position: absolute; left: 0; right: 0; top: -100%; transition: all .3s; line-height: 5rem; background: #000; color: #fff; text-align: center; z-index: 100; }
.skip:focus { top: 0; }
/* //본문 바로가기 스타일*/

/* 인풋 자동완성 스타일*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
/* //인풋 자동완성 스타일*/

/* tab 더보기 스타일*/
.tab_more { position: relative; height: 2.8rem; line-height: 2.8rem; padding-left: 1.9rem; font-size: 2rem; font-weight: 400; color: #8e8e8e; }
.tab_more::before { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1.3rem; height: 1.3rem; background: url('../images/icons/article_plus_icon.png') center / 100% no-repeat; }
/* //tab 더보기  스타일*/

/* h2 header 스타일*/
.h2_header { position: relative; display: flex; align-items: center; justify-content: space-between; margin-top: 7rem; }
.h2_header h2 { font-size: 3.2rem; font-weight: 700; color: #18191f; }
.h2_header p { position: absolute; left: 21.7rem; font-size: 2rem; font-weight: 400; color: #8E8E8E; }
.h2_header .tab_more { align-self: flex-end; }
/* //h2 header 스타일*/

/* sub_info 스타일*/
.sub_info i { display: block; width: 1.4rem; height: 2.1rem; background: url('../images/icons/location_icon.png') center / 100% no-repeat; }
.sub_info span { font-size: 1.8rem; font-weight: 400; color: var(--color-gray8e); letter-spacing: -0.05rem; }
.sub_info b { font-size: 1.8rem; font-weight: 400; color: var(--color-blue5f); letter-spacing: -0.05rem; }
/* //sub_info 스타일*/