/* ================== 전체 wrapper ================== */
.whole_wrapper { display: flex; justify-content: center; }
.whole_wrapper_inner { display: flex; flex-direction: column; align-items: center; min-width: 124.5rem; width: 124.5rem; }

/* ================== 공통 헤더 ================== */
.main_header { position: fixed; display: flex; justify-content: space-between; align-items: center; width: 100%; height: 5.6rem; padding: 0 4rem; background-color: var(--color-white); z-index: 102; }
.main_header::after { content: ''; position: absolute; bottom: 0.1rem; left: -999rem; width: 9999rem; height: 0.1rem; background-color: var(--color-grayc5); } 
.main_header .left_box { display: flex; align-items: center; }
.main_header .left_box .logo_box { position: relative; top: 0.2rem; }
.main_header .left_box .gnb_box { margin-left: 3rem; }
.main_header .left_box .gnb_box > ul { display: flex; align-items: center; gap: 2.4rem; }
.main_header .left_box .gnb_box > ul > li { flex-shrink: 0; }
.main_header .left_box .gnb_box > ul > li > a { font-size: 1.3rem; font-weight: 500; letter-spacing: -0.013rem; color: var(--color-black); }
.main_header .right_box { display: flex; align-items: center; }
.main_header .right_box .login_info { display: flex; align-items: center; gap: 0.6rem; }
.main_header .right_box .login_info > strong { flex-shrink: 0; font-size: 1.2rem; font-weight: 600; letter-spacing: -0.012rem; }
.main_header .right_box .login_info > span { flex-shrink: 0; font-size: 1.2rem; letter-spacing: -0.012rem; }
.main_header .right_box .short_cut_box { flex-shrink: 0; margin-left: 5rem; }
.main_header .right_box .short_cut_box > a { display: inline-block; height: 2.6rem; line-height: 2.6rem; padding-right: 2rem; background: url('../images/icons/short_cut_icon.png') right center / 1.4rem no-repeat; font-size: 1.2rem; color: var(--color-black); letter-spacing: -0.012rem; }
.main_header .right_box .logout_box { flex-shrink: 0; margin-left: 2.4rem; }
.main_header .right_box .logout_box > button { padding: 0.9rem 2.4rem; background-color: var(--color-black); font-size: 1.1rem; font-weight: 500; color: var(--color-white); letter-spacing: -0.011rem; }

/* ================== 공통 사이드 ================== */
.content_wrapper { display: flex; width: 100%; z-index: 101; }
.content_wrapper .main_aside { position: fixed; top: 5.6rem; left: 0; display: flex; flex-direction: column; width: 18rem; height: calc(100vh - 5.6rem); padding: 3rem 0; background-color: var(--color-grayfb); border-right: 0.1rem solid var(--color-grayc5); }
.content_wrapper .main_aside .subject { width: 100%; height: 4rem; line-height: 4rem; padding: 1rem 0 1rem 4rem; font-size: 1.6rem; font-weight: 500; letter-spacing: -0.016rem; box-sizing: content-box; }
.content_wrapper .main_aside .category_list > li { padding-left: 4rem; }
.content_wrapper .main_aside .category_list > li.active { background-color: var(--color-graye6); }
.content_wrapper .main_aside .category_list > li > a { display: block; width: max-content; height: 4.2rem; line-height: 4.2rem; font-size: 1.2rem; font-weight: 500; letter-spacing: -0.012rem; color: var(--color-black); }
.content_wrapper .main_aside .category_list > li.active > a { padding-right: 3rem; background: url('../images/icons/arrow_right_icon.png') right center / 3rem no-repeat; }

/* ================== 메인 바디  ================== */
.content_wrapper .main_body { position: absolute; top: 5.5rem; left: 18rem; }
.content_wrapper .main_body .main_body_inner_wrapper { width: calc(100vw - 18rem); min-width: 106.5rem; padding: 4rem; }
.content_wrapper .main_body .main_body_inner_wrapper .main_body_inner_header { display: flex; justify-content: space-between; }
.content_wrapper .main_body .main_body_inner_wrapper .main_body_inner_header .subject { height: 4rem; line-height: 4rem; font-size: 2.2rem; font-weight: 500; letter-spacing: -0.022rem; }
.content_wrapper .main_body .main_body_inner_wrapper .main_body_inner_header .indicator { display: flex; align-items: center; }
.content_wrapper .main_body .main_body_inner_wrapper .main_body_inner_header .indicator > li { font-size: 1.2rem; font-weight: 500; letter-spacing: -0.012rem; }
.content_wrapper .main_body .main_body_inner_wrapper .main_body_inner_header .indicator > li:not(:last-child) { padding-right: 3rem; background: url('../images/icons/arrow_right_icon_02.png') right center / 3rem no-repeat; color: var(--color-gray92); }
.content_wrapper .main_body .main_body_inner_wrapper .outer_content_top { margin-top: 2rem; }
.content_wrapper .main_body .main_body_inner_wrapper .outer_content_bottom { margin-top: 8rem; }

/* ================== 회원관리 - 회원정보 목록 ================== */
#form_user_info { display: flex; flex-direction: column; }
#form_user_info .common_row_box ~ .common_row_box { margin-top: 2rem; }
#form_user_info .common_row_box:nth-of-type(2) .row_content { gap: 5rem; }
#form_user_info .common_row_box:nth-of-type(3) .row_content { gap: 5rem; }
#form_user_info .input_submit_box { align-self: flex-end; margin-top: 2rem; }

/* ================== 회원관리 - 바버회원 신청대기 목록 ================== */
#form_barber_request_info { display: flex; flex-direction: column; }
#form_barber_request_info .common_row_box ~ .common_row_box { margin-top: 2rem; }
#form_barber_request_info .common_row_box:nth-of-type(2) .row_content { gap: 5rem; }
#form_barber_request_info .input_submit_box { align-self: flex-end; margin-top: 2rem; }

/* ================== 회원관리 - 사업자회원 신청대기 목록 ================== */
#form_businessperson_request_info { display: flex; flex-direction: column; }
#form_businessperson_request_info .common_row_box ~ .common_row_box { margin-top: 2rem; }
#form_businessperson_request_info .common_row_box:nth-of-type(2) .row_content { gap: 5rem; }
#form_businessperson_request_info .input_submit_box { align-self: flex-end; margin-top: 2rem; }

/* ================== 메인 - 배너관리 목록 ================== */
#form_banner_is_exposure { display: flex; flex-direction: column; gap: 2rem; }
#form_banner_is_exposure > .input_submit_box { align-self: flex-end; }
#form_banner_is_exposure > .common_row_box:first-child .row_content { gap: 5rem; }
#form_banner_list_search { display: flex; flex-direction: column; gap: 2rem; margin-top: 2rem; }
#form_banner_list_search > .input_submit_box { align-self: flex-end; }
#form_banner_list_manage { display: flex; flex-direction: column; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_head_row > span:nth-of-type(1) { width: 5.8rem; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_head_row > span:nth-of-type(3) { width: 12.5rem; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_head_row > span:nth-of-type(4) { width: 17.2rem; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_head_row > span:nth-of-type(5) { width: 13.6rem; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_content_wrapper > ul > li > span:nth-of-type(1) { width: 5.8rem; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_content_wrapper > ul > li > span:nth-of-type(3) { width: 12.5rem; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_content_wrapper > ul > li > div:nth-of-type(2) { flex-grow: initial; width: 17.2rem; padding: initial; box-sizing: content-box; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_content_wrapper > ul > li > div:nth-of-type(3) { width: 13.6rem; box-sizing: content-box; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_content_wrapper > ul > li > div:nth-of-type(2) > select { width: 13.6rem; height: 3.8rem; }
#form_banner_list_manage .common_list_wrap.type0 .common_list_table_content_wrapper > ul > li > div:nth-of-type(3) > input { width: 10rem; height: 3.8rem; }
#form_banner_list_manage .common_list_control_wrapper { align-self: flex-end; }